.videoPlayer {
  font-family: "Poppins";
  justify-content: center;
  align-items: center;
  display: block;
  height: 100vh;
}

.videoPlayer > h1 {
  color: white;
  font-size: 45px;
  text-align: center;
  padding: 20px;
}

.YTPlayer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 70vh;
}

.arrow2 {
  height: 30px !important;
  width: 30px !important;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  margin-left: 45vw !important;
  cursor: pointer;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .videoPlayer {
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    display: block;
    height: 100vh;
    margin-bottom: 100%;
  }
}

@media only screen and (max-height: 240px) {
  .videoPlayer {
    margin-bottom: 50%;
  }
}
